[submodule "2nd milestone/validator-attestation/lib/openzeppelin-contracts"]
	path = 2nd milestone/validator-attestation/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
